<section class="archives">
  <div class="archive-page-counter">目前共计 <%= site.posts.length %> 篇日志</div>
  <div class="archive">
    <% var lastyear; %>
    <% page.posts.each(function(post) { %>
      <% var year = post.date.year() %>
      <% if(lastyear !== year) { %>
        <h4 class="year"><%= year %></h4>
        <% lastyear = year %>
      <% } %>
      <div class="archive-item">
        <a class="archive-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        <span class="archive-time"><%= post.date.format('MM-DD') %></span>
      </div>
      <% }) %>
  </div>
</section>
<%- partial('_partial/paginator') %>
