<section class="archives">
  <div class="archive-page-counter"><%- __('archive.counter', site.posts.length) %><%- __('archive.name') %></div>
  <div class="archive">
    <% var lastyear; %>
    <% page.posts.each(function(post) { %>
      <% var year = post.date.year() %>
      <% if(lastyear !== year) { %>
        <h2 class="archive-year date"><%= year %></h2>
        <% lastyear = year %>
      <% } %>
      <div class="archive-item">
        <a class="archive-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        <span class="archive-time date"><%= post.date.format('MM-DD') %></span>
      </div>
      <% }) %>
  </div>
</section>
<%- partial('_partial/paginator') %>
