<section class="categories">
    <h1><%= page.category %></h1>
    <% page.posts.each(function(post){ %>
      <article class="category-item">
        <a class="category-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        <span class="post-date date"><%= post.date.format('YYYY-MM-DD') %></span>
      </article>
    <% }) %>
</section>
<%- partial('_partial/paginator') %>