<section class="posts">
  <% page.posts.each(function (post) { %>
    <article class="post">
      <div class="post-title">
        <h2><a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
      </div>
      <div class="post-meta">
        <span class="date"><%- date(post.date, "YYYY-MM-DD") %></span>
        <% if (theme.menu.tags && post.tags && post.tags.length) { %>
          <span>|<span>
          <%- list_tags(post.tags, {
            show_count: false,
            class: 'article-tag',
            style: 'span',
            separator: ', '
          }) %>
        <% } %>
        <% if (theme.menu.categories && post.categories && post.categories.length) { %>
          <span>|<span>
          <%- list_categories(post.categories, {
            show_count: false,
            class: 'article-tag',
            style: 'span',
            separator: ', '
          }) %>
        <% } %>
      </div>
      <div class="post-content">
        <%- post.excerpt %>
      </div>
      <div class="continue"><a class="btn" href="<%- url_for(post.path) %>"><%- __('continue') %></a></div>
    </article>
  <% }) %>
</section>
<%- partial('_partial/paginator') %>
