<article class="post-detail">
  <div class="post-title">
    <h1 class="title"><%= page.title %></h1>
  </div>
   <div class="post-meta">
    <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
    <% if (theme.menu.tags && page.tags && page.tags.length) { %>
      <span>|<span>
      <%- list_tags(page.tags, {
        show_count: false,
        class: 'article-tag',
        style: 'span',
        separator: ', '
      }) %>
    <% } %>
    <% if (theme.menu.categories && page.categories && page.categories.length) { %>
      <span>|<span>
      <%- list_categories(page.categories, {
        show_count: false,
        class: 'article-tag',
        style: 'span',
        separator: ', '
      }) %>
    <% } %>
  </div>
  <% if (theme.toc.enable || page.toc) { %>
    <div class="toc-article">
        <strong class="toc-title"><%- __('toc') %></strong>
        <%- toc(page.content) %>
    </div>
  <% } %>
  <div class="post-content">
    <%- page.content %>
  </div>
</article>
<% if (page.mathjax) { %>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"]  ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
  </script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
      var all = MathJax.Hub.getAllJax(), i;
      for (i=0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
      }
      Array.from(document.getElementsByClassName('has-jax')).forEach(x => x.parentNode.style.overflow = 'auto')
    });
  </script>
  <script src="<%= theme.mathjax.cdn %>"></script>
<% } %>
