<aside class="siderbar">
  <section class="siderbar-panel">
    <div class="author-panel" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
      <img class="author-image lazyload" itemprop="image" data-src="//blog.snovey.com/uploads/avatar.jpg" alt="雨雪霏霏">
      <p class="author-name" itemprop="name"><%= config.title %></p>
      <p class="site-description" itemprop="description" ><%= config.description %></p>
    </div>
    <nav class="site-state">
      <div class="site-state-item site-state-posts">
        <a href="/archives">
          <span class="site-state-item-name"><%= __('state.posts') %></span>
          <span class="site-state-item-count"><%= site.posts.length %></span>
        </a>
      </div>
      <% if (site.tags.length > 0) { %>
        <div class="site-state-item site-state-tags">
          <% if (theme.menu.tags) { %><a href="/tags"><% } %>
            <span class="site-state-item-name"><%= __('state.tags') %></span>
            <span class="site-state-item-count"><%= site.tags.length %></span>
          <% if (theme.menu.tags) { %></a><% } %>
        </div>
      <% } %>
    </nav>
    <div class="feed-link motion-element" style="opacity: 1; display: block; transform: translateX(0px);">
      <a href="/atom.xml" rel="alternate">RSS</a>
    </div>
    <div class="links-of-author motion-element">
    </div>
    <div class="cc-license motion-element" itemprop="license">
      <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
        <img data-src="//blog.snovey.com/images/cc-by-nc-nd.svg" class="lazyload" alt="Creative Commons">
      </a>
    </div>
  </section>
</aside>